<div class="accordion-item">
  <h2 class="accordion-header" id="headingHomelessFinancial">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseHomelessFinancial" aria-expanded="false" aria-controls="collapseHomelessFinancial">
      <p class="display-9"><i class="bi-person-raised-hand"></i> - Homeless & Financial Assistance</p> <!-- Name and Icon -->
    </button>
  </h2>
  <div id="collapseHomelessFinancial" class="accordion-collapse collapse" aria-labelledby="headingHomelessFinancial"
    data-bs-parent="#mainAccordion">
    <div class="accordion-body">
      <ul class="list-group">
        {% for resource in site.data.vetresources.homelessfinancial %} <!-- only change category -->
        {% include elements/card-list-loop.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div><!-- END HomelessFinancial -->