<!-- Accordion Block -->
<div class="accordion p-2" id="mainAccordion">
    {% include vetresources/docsforms.html %}
    {% include vetresources/varesources.html %}
    <!-- temporary removal of lesserknown -->
    {% include vetresources/general.html %}
    {% include vetresources/localagencies.html %}
    <!-- homelessfinancial removal temp -->
    {% include vetresources/activities.html %}
    <!-- temp remove families -->
    <!-- temp remove branch -->
    {% include vetresources/special.html %}
    {% include vetresources/outofstate.html %}
<!-- temp remove grants  -->
    {% include vetresources/transportation.html %}
</div><!-- END accordion block -->