<!-- card style setup for links on VA Official benefits -->
<!-- <div class="container">
    <div class="row">
        {% for link in site.data.vetresources.valinks %}
        <div class="card text-bg-light mx-auto mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-header bg-white display-6 text-primary text-center"><i class="{{ link.icon}} px-1"></i>
                </h5>
                <p class="text-primary display-8 text-center">{{link.title }}</p>
                <p class="card-text">{{ link.description }}</p>
            </div>
            <div class="card-footer bg-white text-center">
                <a href="{{ link.url }}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

<!-- or list group image left -->
<li class="list-group-item">
  <div class="card mb-3" style="width: auto;">
    <div class="row g-0">
      <div class="col-md-4 bg-primary text-center">
        <h1 class="display-1 mx-auto pt-4 align-middle text-white"><i class="{{ link.icon }}"></i></h1>

       
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ link.title }}</h5>
          <p class="card-text">{{ link.description }}</p>
          <a href="http://{{ resource.url }}" target="_blank" class="btn btn-primary">{{ link.url }}</a>
          <!-- <p class="card-text"><small class="text-body-secondary">{{ link.tags }}</small></p> -->
        </div>
      </div>
    </div>
  </div>
</li>