<div class="accordion-item">
  <h2 class="accordion-header" id="headingVaResources">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseVaResources" aria-expanded="false" aria-controls="collapseVaResources">
      <p class="display-9"><i class="bi-hospital-fill"></i> - Official VA Resources</p> <!-- Name and Icon -->
    </button>
  </h2>
  <div id="collapseVaResources" class="accordion-collapse collapse" aria-labelledby="headingVaResources"
    data-bs-parent="#mainAccordion">
    <div class="accordion-body">
      <ul class="list-group">
        {% for link in site.data.vetresources.valinks %} <!-- only change category -->
        {% include vetresources/valinks.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div><!-- END VaResources -->