<nav class="navbar fixed-top bg-light">
  <div class="container-fluid">
       
        <a class="navbar-brand nav-item"><span class="teal-color pattaya display-3">{<span class="display-1">y</span>}</span></a>
         <a class="img-fluid nav-item"><img src="/assets/img/va-logo-blue.png" /></a>
        <!-- <a class="nav-item"><span class="teal-color pattaya display-2">{</span></a>
        <a class="nav-item"><span class="teal-color pattaya display-2">y</span></a>
        <a class="nav-item"><span class="teal-color pattaya display-2">}</span></a> -->
        <a href="#signupform" class="btn btn-danger fs-4 mr-auto">Register</a>
  </div>
</nav>