    <!-- start meet dr y -->
    <div class="row text-center mx-auto p-2 alert alert-info" style="max-width: 800px;">
      <div class="col-md-4">
        <img src="/assets/img/dr_y_cartoon_512.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <h1 class="card-title display-6 teal-color">Meet Dr. Yeturo, PSY.D "Dr. Y"</h1>
        <p class="card-text"> The founder of the VA's RRTP Aftercare and staff psychologist for the RRTP Program.
          Her determined tenacity to create the RRTP Aftercare Program has extended care for countless graduates
          of the RRTP Program.</p>
        <p class="card-text"><small class="text-body-secondary">She's pretty cool, too. </small></p>
      </div>
    </div>
    <!-- end meet dr y -->