---
layout: homepage
title: Vets Helping Vets
---
<!-- Begin Content Section -->

<!-- start hero header-->
{% include elements/hero1.html %}
{% include elements/branchlogos.html %}
<!-- start main Container -->
<!-- start content from page pull-->

<div class="col-lg-8 mx-auto p-3 py-md-5">

    </p>
    <div class="container text-center">
        <!-- <img src="../assets/img/abqvets-logo.svg"/> -->
        </p>
        <div class="container" id="vaResources">Mike's Unofficial List of</div>
        <span class="h1">VETERAN RESOURCES </span><span class="badge bg-danger">beta</span>
        </p>
        <!-- <h7>No ads. No bull****. Just vetresources.</h7> -->
         
    </div>
    </p>
    </p>


<!-- begin accordion  -->
{% include vetresources/masterlist.html %}

<!-- end accordion  -->

 


    <!-- End Content Section --> 