</div> <!-- end of start tag -->
<!-- footer -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
     crossorigin="anonymous"></script>
</p>
<div class="row text-center">
     <div class="col-md-4 mx-auto p-2">
          <img style="max-width: 70px;" src="/assets/img/abqvets-black.svg" />
     </div>
</div>
<footer class="text-center btn-light">Made with &#10084; for Veterans by 
     <!-- <a href="https://www.facebook.com/share/1UUv81is8L/?mibextid=wwXlfr">Mike</a>.  -->
     <a href="https://github.com/mike-hmg">Corazón</a>

     </footer>
<div class="text-center"><a style="color: #298;" href="/uploads.html">Aftercare Docs</a></div>
<!-- end main container-->
<!-- end footer -->
<!-- start modal for RRTP residents -->
{% include elements/tempmodal.html %}
{% include elements/crisismodal.html %}

<!-- end modal for RRTP residents -->
</body>
<!-- end body -->

</html>