<nav class="navbar navbar-dark navbar-expand-lg text-white belize-bg">
  <div class="container-fluid">
    <!-- -->
    <a class="navbar-brand" href="https://abqvets.com"><img src="/assets/img/abqvets-white.svg" height="70px"></a>
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Official NM VA -->
      <ul class="navbar-nav">
        <li>
          <!-- crisis line -->
          <a class="nav-item btn btn-danger mx-1 mr-auto" type="button" data-bs-toggle="modal"
            data-bs-target="#CrisisModal">
            <i class="bi-house-fill"></i>Crisis?</a>
          <!-- <a class="nav-item btn btn-danger" type="button" href="tel:988,1">
            <i class="bi-telephone-fill"></i> Crisis?
          </a> -->
        </li>
        <li>
          <a class="nav-item btn text-white" target="_blank"
            href="https://www.va.gov/new-mexico-health-care/locations/raymond-g-murphy-department-of-veterans-affairs-medical-center/">
            <i class="bi-hospital-fill"></i> NM VA Official</a>
        </li>
        <!-- VA Directions -->
        <li>
          <a class="nav-item btn text-white" href="http://maps.apple.com/?q=35.053963,-106.57778">
            <i class="bi-hospital-fill"></i> NM VA Directions</a>
        </li>
        <li>
          <a class="nav-item btn btn-success mx-1 mr-auto" type="button" data-bs-toggle="modal"
            data-bs-target="#rrtpResidentModal">
            <i class="bi-house-fill"></i>Aftercare</a>
        </li>
        <li>
          <a class="btn btn-primary discord-purple-bg mx-1" type="button" href="https://discord.gg/DV4dkThy">
            <i class="bi-discord"></i> Our Discord!
          </a>
        </li>
        <li>

        </li>
        <!-- ABQ RRTP modal-->
      </ul>
    </div>
    <div class="float-right">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- -->
    <!-- <div class="float-left">
      <a class="nav-item btn btn-success mx-1 mr-auto" type="button" data-bs-toggle="modal"
        data-bs-target="#rrtpResidentModal">
        <i class="bi-house-fill"></i>Aftercare</a>
      <a class="btn btn-primary discord-purple-bg mx-1" type="button" href="https://discord.gg/DV4dkThy">
        <i class="bi-discord"></i> Our Discord!
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> -->
  </div>
</nav>