<!-- Modal -->
<div class="container">
  <div class="modal fade" id="CrisisModal" tabindex="-1" aria-labelledby="CrisisModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="CrisisModal">Coming Soon!</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row m-5" id=""></div>
          <div class="row bg-light">
            <h1 class="display-2 text-center text-danger"><i class="bi bi-asterisk"></i></h1>
            <h1 class="display-5 text-danger text-center">Crisis?</h1>
            <h3 class="text-center">Veteran's Crisis is here for you.</h3>
            <h5 class="text-center">Call, text, or chat with the Veteran's Crisis Line</h5>
            <!-- Click to Call -->
            <a class="btn btn-danger display-7" href="tel:988,1"><i class="bi bi-telephone-fill"></i> Call</a>
            </p>
            <!-- Click to Text -->
            <a class="btn btn-danger display-7" href="sms:838255"><i class="bi bi-chat-left-dots-fill"></i> Text</a>
            </p>
            <!-- Crisis Chat -->
            <a class="btn btn-danger display-7" href="https://chat.988lifeline.org"><i class="bi bi-chat-fill"></i>
              Chat</a>
            </p>
            <!-- <a href="">Text</a> -->
            <!-- <p class="text-muted">
              test
            </p> -->

          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- EndModal-->