{% include header.html %}
    <!-- end navbar -->
    <!-- start main Container -->
    <!-- start content from page pull-->
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        </p>
        <div class="card" style="width: auto;">
            <img src="/assets/img/battleship.jpg" class="card-img-top img-fluid">
            <div class="card-body">
              <h5 class="card-title">
                {{ post.title }} test
              </h5>
              <p class="card-text">
                {{ content }}
              </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        
        <!-- end content from page pull-->
     {% include footer.html %}